<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="common-header">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--JQUERY-->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>

    <!-- My personal Kit's Code from Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/admin.css" th:href="@{/css/admin.css}"/>
    <title> AgregarProducto </title>

</head>

<body>
	<div>
		<br/>
		<img class="img-responsive center-block" th:src="@{/img/Logo2.png}" style="width: 110px;"/>
	</div>

	<div th:fragment="navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="#">Portal ADMINISTRADOR</a>
		  <button 	class="navbar-toggler" type="button" data-toggle="collapse" 
		  			data-target="#navbarNav" aria-controls="navbarNav" 
		  			aria-expanded="false" aria-label="Toggle navigation">
		    		<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
			      <li class="nav-item"><a class="nav-link" th:href="@{/catalogoProducto}">Catálogo</a></li>
		    </ul>
		  </div>
		  <div>
		   	<form th:action="@{/logout}" method="post">
	   		    <input type="submit" value="Salir" class="btn btn-warning"/>
	  	 	</form>
		  </div>
		</nav>
	</div>
	
  	<div class="container">
		<div class="row justify-content-md-center">
			  <fieldset>
				  <legend class="center-block">Agregar un nuevo producto
				  <span style="font-size: small"> (* campos requeridos)</span></legend>
			  </fieldset>
		</div>
	</div>

  	<div class="container">
		<div class="row justify-content-md-center">
		<div class="col">
			<form class="form-horizontal" th:action="@{/agregarProducto}" method="post" enctype="multipart/form-data">
					  <div class="form-group">
					    <label class="col-md-8 control-label" for="nombre">* Nombre del producto</label>
						   	<div class="col-md-8">
						   		<input 	type="text" class="form-control" id="nombre" th:value="${pastel_catalogo.nombre}"
						    		required="required" placeholder="Nombre" name="nombre" />
						    </div>
					  </div>
					  <div class="form-group">
					    <label class="col-md-2 control-label" for="sabor">* Sabor</label>
						    <div class="col-md-8">
						    	<input 	type="text" class="form-control" id="sabor" th:value="${pastel_catalogo.sabor}"
						    		required="required" placeholder="Sabor" name="sabor"/>
						  	</div>
					  </div>
					  <div class="form-group">
					    <label class="col-md-2 control-label" for="porciones">Porciones</label>
					    <div class="col-md-6">
					   	<input 	type="text" class="form-control" id="porciones" th:value="${pastel_catalogo.porciones}"
					    		required="required" placeholder="Porciones" name="porciones"/>
					  </div>
					  </div>
					  <div class="form-group">
					    <label class="col-md-4 control-label" for="fechaPublicacion">Fecha de caducidad</label>
					   <div class="col-md-6">
					   <input 	type="date" class="form-control" id="fechaPublicacion" th:value="${pastel_catalogo.fechaPublicacion}"
					    		required="required" placeholder="Fecha de Publicacion" name="fechaPublicacion"/>
					  </div>
					  </div>
					  <div class="form-group">
					    <label class="col-md-2 control-label"for="almacenamiento">Almacenamiento</label>
					   <div class="col-md-6">
					   		<select th:value="${pastel_catalogo.almacenamiento}" id="almacenamiento" name="almacenamiento" class="form-control">
					   			<option value="Refrigerar">Refrigerar</option>
					   			<option value="Temperatura ambiente">Temperatura ambiente</option>
					   			<option value="Congelar">Congelar</option>
					   		</select>
					   </div>
					  </div>
					  <div class="form-group">
					    <label class="col-md-1 control-label"for="categoria">*Categoria</label>
						   <div class="col-md-6">
						   		<select th:value="${pastel_catalogo.categoria}" id="categoria" class="form-control" name="categoria">
						   			<option value="" selected="selected" disabled="disabled">Seleccione una opción</option>
						   			<option value="Línea Diabéticos" th:selected="(${pastel_catalogo.categoria}=='Línea Diabéticos')">Línea Diabéticos</option>
						   			<option value="Sin Calorías" th:selected="(${pastel_catalogo.categoria}=='Sin Calorías')">Sin Calorías</option>
						   		</select>
						   </div>
					  </div>

					  <div class="form-group">
					    <label class="col-md-4 control-label" for="tiempoPrepar">Tiempo de Preparación</label>
						   <div class="col-md-4"> 
						   <input type="number" class="form-control" id="pageNumber" th:value="${pastel_catalogo.tiempoPrepar}"
						    		required="required" placeholder="Number Of Miles" name="tiempoPrepar"/>
						  </div>
					  </div>
					  <div class="form-group">
					    <label class="col-md-2 control-label"for="almacen">Almacén</label>
						   <div class="col-md-4">
						   		<select th:value="${pastel_catalogo.almacen}" id="almacen" class="form-control" name="almacen">
						   			<option value="Monterrey">Monterrey</option>
						   			<option value="Querétaro">Querétaro</option>
						   		</select>
						   </div>
					  </div>
					  <div class="form-group">
					    <label class="col-md-4 control-label"for="precioLista">Precio de Lista</label>
						   	<div class="col-md-4">
						   		<div class="input-group">
						   		<span class="input-group-addon">$</span>
								   	<input 	th:value="${pastel_catalogo.precioLista}" type="number"
								   			class="form-control" id="precioLista"
								    		placeholder="Precio de Lista" name="precioLista"/>
							   	</div>
						   	</div>
					  </div>
					  <div class="form-group">
					    <label class="col-md-4 control-label"for="precioPublico">Precio al Público</label>
						   	<div class="col-md-4">
						   		<div class="input-group">
						   		<span class="input-group-addon">$</span>
								   	<input 	th:value="${pastel_catalogo.precioPublico}" type="number"
								   			class="form-control" id="precioPublico"
								    		placeholder="Precio Publico" name="precioPublico"/>
							   	</div>
						   	</div>
					  </div>
					  <div class="form-group">
					    <label class="col-md-5 control-label"for="cantidadDisponible">Cantidad Disponible</label>
						   	<div class="col-md-4">
						   		<div class="input-group">
						   		<span class="input-group-addon"></span>
								   	<input 	th:value="${pastel_catalogo.cantidadDisponible}" type="number"
								   			class="form-control" id="cantidadDisponible"
								    		placeholder="Cantidad Disponible" name="cantidadDisponible"/>
							   	</div>
						   	</div>
					  </div>
					  <div class="form-group">
					    <label class="col-md-5 control-label" for="status">Estado del producto</label>
							<div class="col-md-6">
							   		<label><input value="true" type="radio" name="active" checked="checked" class="form-control" />Activo</label>
							   		<label><input value="false" type="radio" name="active" class="form-control" />Inactivo</label>
						   	</div>
					  </div>
				  
					  <div class="form-group">
					    	<label class="col-md-2 control-label" for="descripcion">Ingredientes</label>
					    	<div class="col-md">
					   			<textarea name="description" rows="3" 
					   			class="form-control" id="descripcion" th:value="${pastel_catalogo.descripcion}"
					    				placeholder="Ingredientes" ></textarea>
					  		</div>
					  </div>
					  
					  <div class="form-group">
						  	<div class="col-md-2">
						  		<label for="imagenPastel">Cargar imagen</label>
						  	</div>
						  	<div class="col-md-8">
						  		<input id="imagenPastel" type="file" name="imagenPastel" th:value="${pastel_catalogo.imagenPastel}" />	
						  	</div>
					  </div>

				  <div class="form-group">
					  	<div class="col-md">
						  <div class="col-md">
						  		<button type="submit" class="tn btn-lg btn-success">Agregar Imagen</button>
						  		<a class="btn btn-danger" th:href="@{/admin}">Cancelar</a>
						  </div>
				  		</div>
				  </div>
				</form>
		</div>
		</div>
	</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 </body>
</html>